<!DOCTYPE html>
<html layout:decorator="_layouts/main-layout">
    <head>
        <title>C-3PO Test Blog</title>
        <meta name="description" content="The index of the C-3PO test project blog.">
    </head>
    <body>
        <div layout:fragment="content">
            <h1>C-3PO Test Blog</h1>
            <ul class="no-bullets index-list" th:each="page : ${pageTree.getPagesIn('/blog')}">
              <li><a th:href="${page.url()}" th:text="${page.title()}">A title</a>
                  <span class="publish-date" th:text="${page.publishDate()}">2015-12-11</span></li>
            </ul>
        </div>
    </body>
</html>
