<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">C-3PO</title>
  <link rel="stylesheet" href="css/vendor/normalize.css"/>
  <link href="sass/common.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vendor/html5shiv.min.js"></script>
</head>
<body>
  <div class="container">
    <header> 
      <a href="index.html">Some Logo<header>
  </div>
  <div>
    <div layout:fragment="content" class="container">
      <section>
        <h1>Main Content Headline</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
        </p>
      </section>
    </div>
  </div>

  <footer>
    <div class="copyright-notice">&copy; 2016 - all rights reserved</div>
  </footer>
</body>
</html>
