<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">YodaConditions.net</title>
</head>
<body>

<div class="main-content container clearfix">
    <div layout:fragment="content" class="content-area">
        <section>
            <h1>Main Content Headline</h1>
            <p>Main Content's content.</p>
        </section>
    </div>
</div>

<footer class="mobile-only">
    <a href="blog.html">Blog</a>
    <a href="about.html">About</a>
    <div class="copyright-notice">&copy; 2015 - all right reserved</div>
</footer>

<script type="text/javascript" src="js/main.js"/>
</body>
</html>
